/* Estilos da barra de navegação */
.navbar-brand {
  font-weight: bold;
}

/* Estilos do formulário */
.container-sm {
  text-align: center;
  margin-top: 50px;
  background-color: #22a7228c;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 10px;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  border-radius: 15%;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  border-radius: 15%;
  background-color: #f00;
  color: #fff;
}

img {
    width: 200px;
}